<%- include('./partials/header.ejs') -%>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">

            
                        <div class="category-item well yellow">
                            <div class="media">
                                <div class="media-left">
                                    <img src="<%= book.details.image_url%>" class="media-object" alt="">
                                </div>
                                <div class="media-body">
                                    <h5><%= book.title%></h5>
                                    <h6>By <%= book.details.authors.author.name %></h6>
                                    <div class="space-10"></div>
                                    <div>
                                        <h4><span class="label label-default"><%= book.genre %> </span></h4>
                                    </div>
                                    <ul class="list-inline list-unstyled rating-star">
                                        <li class="active"><i class="icofont icofont-star"></i></li>
                                        <li class="active"><i class="icofont icofont-star"></i></li>
                                        <li class="active"><i class="icofont icofont-star"></i></li>
                                        <li class="active"><i class="icofont icofont-star"></i></li>
                                        <li><i class="icofont icofont-star"></i></li>
                                    </ul>
                                    <div class="space-10"></div>
                                    <p>
                                        <%-book.details.description %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') -%>